body {
    margin: 0;
    position: relative;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
}

.logo {
    text-align: center;
    margin-top: 300px;
}

.logo__img {
    width: 150px;
}

figure {
    margin: 0;
    padding: 0;
}

.embeded-video {
    position: absolute;
    height: 22vw;
}

.embeded-video--top {
    top: 31%;
    left: 12.5%;
    width: 26%;
}

.embeded-video--bottom {
    z-index: 1;
    bottom: 9%;
    right: 3%;
    width: 26%;
}