.home {
    height: 100%;
}

body {
    margin: 0;
    position: relative;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
}

.logo {
    text-align: center;
    margin-top: 300px;
}

.logo__img {
    width: 150px;
}

figure {
    margin: 0;
    padding: 0;
}

.embeded-video {
    position: absolute;
    height: 200px;
}

.embeded-video--top {
    top: 32%;
    left: 13%;
    width: 25%;
    height: 200px;
}

.embeded-video--bottom {
    z-index: 1;
    bottom: 11.5%;
    right: 3.5%;
    width: 25%;
    height: 200px;
}